/*====  RESET ============================ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  /* colors */
  --light-gray: #edeff3;
  --black: #222b45;

  --nunito-font: "Nunito", sans-serif;

  --main-bg-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --main-information-color: #009edb;
  --main-success-color: #00d68f;
  --main-danger-color: #ff3d71;
  --main-warning-color: #ffaa00;
  --main-azul-anil-logo: #58c4e9;
  --main-anil-subtitle: #202355;
  --blue: #297bff;
  --grey: #fafafa;
}

html {
  scroll-behavior: smooth;
}


/* width */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f7f9fc; */
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}